<div class="page">
    <div class="pageScreen">
        <div class="homeLoader">
            <app-homeLoader></app-homeLoader>
        </div>
        <div class="homeBubble"><app-homeBubble></app-homeBubble></div>
        <div class="home__center__Block">
            <h1 class="home__title">
                <span>Welcome to</span> U.S. Atomic Metal <span>&amp;</span> Research Unit
            </h1>
            <a routerLink="/home" class="btn btn-home">
                Go To Home 
                <svg aria-hidden="true"  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                    <path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" class=""></path>
                </svg>
            </a>
        </div>
    </div>
</div>
