
<div class="page">
    <h1>Welcome to U.S. Atomic metal &amp; research unit</h1>

    <p>Iridium  is a silvery white metal named after the Latin word for rainbow because its  
        salts are highly colored. Iridium is hard and brittle with low ductility, which  
        makes it very difficult to machine and form. It is quite dense, about twice as dense  
        as lead, and occurs in nature as two stable isotopes. (Isotopes are different  
        forms of an element that have the same number of protons in the nucleus but a 
        different number of neutrons.) Iridium-193 is the most prevalent form, 
        comprising about 63% of natural iridium, with iridium-191 accounting for the 
        rest. Of the 15 major radioactive iridium isotopes, only three have half-lives 
        longer than a month and warrant concern.</p>

    <p>It  decays to stable platinum-192 and osmium-192 by emitting a beta particle 
        and by  electron capture; most of these decays (95%) are by beta emission. 
        Iridium-192m  has a half-life of 240 years, and it decays to stable platinum-194 
        by emitting  a beta particle and several gamma rays. Of these three radioactive isotopes, 
        iridium-192m presents the lowest acute or short-term hazard from external 
        exposures as a result of its relatively low specific activity and gamma 
        radiation; the other two iridium isotopes have high specific activities and 
        significant gamma radiation. Iridium-192 is the isotope of most concern based 
        on general availability.</p>

    <p>It  is used in a number of industrial and medical applications. Iridium can be taken into 
        the body  by eating food, drinking water, or breathing air. Gastrointestinal 
        absorption from food or water is the  likely source of internally deposited 
        iridium in the general population. After  ingestion or inhalation, most iridium 
        is excreted from the body and never  enters the bloodstream; only about 1% of 
        the amount taken into the body by  ingestion is absorbed into the blood. 
        Twenty percent of the iridium that  reaches the blood is excreted right away, 
        20% deposits in the liver, 4%  deposits in the kidney, 2% deposits in the spleen, 
        and the remaining 54% is  evenly distributed among other organs and tissues of 
        the body. Of the iridium  that deposits in any organ or tissue, 20% leaves the body 
        with a biological  half-life of 8 days and 80% clears with a biological half-life of 
        200 days. On  the basis of animal studies, retention of iridium was determined to be 
        the same  for all age groups. Most inhaled iridium compounds appear to clear the lungs
        quite rapidly.</p>

    <p>The three radioactive iridium isotopes pose both an internal and external hazard, 
        and the main health concern is associated with the increased  likelihood of cancer. 
        External exposure is a concern because of the strong  gamma radiation (especially for 
        iridium-192 and iridium-194m), and shielding is  needed to handle iridium-192 radiographic 
        and medical sources. Iridium can  concentrate in several organs depending on its chemical 
        form, so while there is  no dominant organ of health concern the liver is a main organ of 
        deposition.  Inside the body, these iridium isotopes can pose a hazard from both beta and 
        gamma radiation. Lifetime cancer mortality risk coefficients have been calculated for 
        nearly all radio nuclides.</p>

    <p>It has been used in the  space technology as the <strong>Heart of the Satellites</strong>, 
        which gives the continuous energy power to it. Because it has got <strong>Elements 
        Emitting Electro-magnetic</strong> waves (<strong>E.E.E</strong>).</p>
</div>
