.pageScreen {
    height: 100vh;
    background-color: #3700b3;
    position: relative;
}
.homeLoader {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 602px;
    z-index: 1;
}
.home__center__Block {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    z-index: 1;
}
.home__title {
    font-size: 12vh;
    color: #fff;
    font-family: 'antonregular', sans-serif;
    margin: 0;
    line-height: 1.1;
    span {
        display: block;
        font-size: 5vh;
        line-height: 1;
        font-family: 'robotolight', sans-serif;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    
}
.btn-home {
    cursor: pointer;
    line-height: 41px;
    padding: 0px;
    height: 60px;
    background-color: #171717;
    border-radius: 3px;
    button {
        height: auto;
        background-color: #171717;
        color: #fff;
        border-radius: 3px;
        font-family: 'antonregular', sans-serif;
        font-size: 16px;
        text-transform: none;
        line-height: 48px;
        padding: 10px 30px;
        border: none;
        height: 60px;
        cursor: pointer;
    }
    svg {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        margin: -5px 0 0 7px;
    }
}

// .homePage__conatent {
//     padding: 60px 30px;
// }
// .homebanner-area {
//     display: flex;
//     .front__banner {
//         margin-left: -30px;
//     }
//     .front__text {
//         padding-left: 30px;
//         p {
//             margin-top: 0;
//         }
//     }
// }