<div class="page-headering">
  <app-header></app-header>
</div>
<section class="container-page">
  <div class="container-article">
      <article class="container-iridium">
          <section class="container-title">
              <h1>{{ titlemessage }}</h1>
          </section>
          <div class="container iridium-page">
            <div class="row">
              <div class="col l6 s12">
                  <div class="iridium-table-container">
                      <table cellpadding="0" cellspacing="0" class="iridium-table">
                        <tbody>
                          <tr *ngFor="let item of tableData; let i = index">
                            <td>{{ item.table_title }}</td>
                            <td>{{ item.table_value }}</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
              </div>
              <div class="col l6 s12">
                <figure class="iridium-figure">
                  <img [src]="tableImage" alt="">
                </figure>
              </div>
            </div>
          </div>
      </article>
  </div>
</section>
