<section class="container-page">
    <section class="container-titleBanner">
        <app-title [title]="titlemessage"></app-title>
        <app-staticBanner [staticImg]="bannerImage"></app-staticBanner>
    </section>
    <article class="container-article">
        <div class="container">
                <div align="justify">

                        Once the tester checks the material and if it is an authentic one, he will seal the material and inform the company (AMRU). Then company informs the details to the Central Government of India and paid revenue for the said material and gets the no objection clearance from the Government to start the payment process. But remember, tester can’t go single walking distance and the owner of material must show the item at proper city/town where the four wheeler will go with the tester. <br>
      
                        <br>
      
                        During this process the company (AMRU) used to pay Rs ……….. Cr as a token amount within 3 hours of joint custody to the owner and the media for taking the position of the material. 3 days after the Government clearance company paid the full value of the material to its owner and media within 7 working days. During this course both buyer and seller used to make a joint custody to make the process go through.<br>
      
                        <br>
      
                        On accepting the value of the material the owner and media will get IT clearance Certificate from Government of India, where it is stated that the owner has given the material to the Government for research purpose and on behalf of that the owner is getting appropriate revenue. <br>
      
                        <br>
      
                        <br>
      
                        Finally, the owner and the media can avail the revenue at the following banks:-<br>
      
                        <br>
      
                        ICICI<br>
      
            AMERICAN EXPRESS<br>
      
            ABN AMRO<br>
      
            HSBC<br>
      
            HDFC<br>
      
            SCB
      
      </div>
        </div>
    </article>
</section>
