@import '../../../scss/mixine.scss';
.container-page {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 150px;
    padding-bottom: 100px;
}
.container-titleBanner {
    position: relative;
    overflow: hidden;
    margin-bottom: 70px;
}