<div>Loading...</div>	

<div id="particles-background" class="vertical-centered-box"></div>
	<div id="particles-foreground" class="vertical-centered-box"></div>

	<div class="vertical-centered-box">
	  <div class="content">
	    <div class="loading__spinner">
		    <i></i>
		    <i></i>
		    <i></i>
		    <i></i>
		    <i></i>
		    <i></i>
		    <i></i>
		</div>
		<div class="loading">
		  <div class="loading__content">
		  	<span class="loading__content__title">
		  		<span class="loading__content__word">A</span>
	  			<span class="loading__content__word">M</span>
	  			<span class="loading__content__word">R</span>
	  			<span class="loading__content__word">U</span>
		  	</span>
		  	<span class="loading__content__text">
		  		<span class="loading__content__wrapper">
		  			<span class="loading__content__letters">
		  				U.S Atomic Metal & Research Unit
		  			</span>
		  		</span>
		  	</span>
		  </div>
		</div>
	  </div>
	  	<embed src="sound/bensound-straight.mp3" autostart="true" loop="true" hidden="true">
	</div>
	<div class="equalizer">
	  <div class="equalizer__bar"></div>
	  <div class="equalizer__bar"></div>
	  <div class="equalizer__bar"></div>
	  <div class="equalizer__bar"></div>
	  <div class="equalizer__bar"></div>
	</div>