<section class="container-page">
    <div class="container-wrapper">
        <a routerLink="/home" class="back_btn" [ngStyle]="{'color': color}">
            <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-angle-left fa-w-8 fa-2x"><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z" class=""></path></svg>
        </a>
        <div class="home-content-page" [ngStyle]="{'background-color': color}">
            <div class="home-content-round" [ngStyle]="{'background-color': color}"></div>
            <div class="home-content-round1" [ngStyle]="{'background-color': color}"></div>
            <div class="home-content-round2" [ngStyle]="{'background-color': color}"></div>
            <div class="home-content-round3" [ngStyle]="{'background-color': color}"></div>
            <article class="container-article">
                <div class="container-fluid container-page-article">
                    <header class="home-content__header">
                        <h2>{{title}}</h2>
                    </header>
                    <div class="home-content__Block homeBlockAnimation">
                      <ng-template [ngIf]="content">
                          <ng-template [ngIf]="image">
                              <figure class="home-content__figure">
                                  <img [src]="image" />
                              </figure>
                          </ng-template>
                          <ng-template [ngIf]="content">
                            <div class="home-content__text" [ngClass]="!image ? 'full' : ''">
                                <ng-template [ngIf]="content.table"; [ngIfElse]="contentTable">
                                  <div class="iridium-table-container">
                                    <table cellpadding="0" cellspacing="0" class="iridium-table">
                                      <tbody>
                                        <tr *ngFor="let item of content.table; let i = index">
                                          <td [innerHTML]="item.table_title"></td>
                                          <td [innerHTML]="item.table_value"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </ng-template>
                                <ng-template #contentTable>
                                  <div [innerHTML]="content"></div>
                                </ng-template>
                            </div>
                          </ng-template>
                      </ng-template>
                    </div>
                    <div class="homeBlockAnimation2">
                      <ng-template [ngIf]="subContent">
                          <div class="home-content__Subblocking" >
                              <ng-template [ngIf]="subContent">
                                  <div class="home-content__Subblockingtext" [ngClass]="!subImage ? 'full' : ''">
                                      <div [innerHTML]="subContent"></div>
                                  </div>
                              </ng-template>
                              <ng-template [ngIf]="subImage">
                                  <figure class="home-content__Subblockingfigure">
                                      <img [src]="subImage" />
                                  </figure>
                              </ng-template>
                          </div>
                      </ng-template>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
