.container-page {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}
.container-wrapper {
    overflow-y: scroll;
    min-height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
}
.home-content {
    &-page {
        background-color: #fff;
        margin-left: 100px;
        padding: 50px;
        min-height: 100vh;
    }
    &__header {
        text-align: center;
        h2 {
            font-size: 100px;
            color: #fff;
            font-family: 'antonregular', sans-serif;
            margin: 100px 0;
            line-height: 1.1;
        }
    }
    &__Block {
        display: flex;
        align-items: flex-start;
    }
    &__figure {
        background-color: #fff;
        padding: 20px;
        margin: 0 0 0 -100px;
        text-align: center;
        flex: 0 0 50%;
        img {
            max-width: 100%;
            height: auto;
            width: auto;
        }
    }
    &__text {
        flex: 0 0 60%;
        padding-left: 20px;
    }
}

.back_btn {
    position: absolute;
    left: 25px;
    top: 44px;
    width: 46px;

    svg {
        width: 20px;
    }
}