<div class="homeBlocks">
    <div class="homeBlocks__links" (click)="onClick(id)">
        <div class="homeBlocks__background">
            <div class="homeBlocks__background__inner"></div>
            <div class="homeBlocks__background__inner"></div>
            <div class="homeBlocks__background__inner"></div>
            <div class="homeBlocks__background__inner"></div>
        </div>
        <figure class="homeBlocks__figure">
            <img src="{{ imgurl }}" alt="{{ title }}" class="responsive-img" />
        </figure>
        <h2 class="homeBlocks__title">{{ title }}</h2>
    </div>
</div>
