<app-header></app-header>
<section class="container-page">
    <article class="container-article">
        <div class="container-gallery">
            <h2 class="gallery__title">{{titlemessage}}</h2>
            <div class="gallery__block">
                <div  class="gallery">
                    <div class="gallery__item" *ngFor="let item of items; let i = index" (click)="lightbox.open(i)">
                        <img [src]="item.data.src" class="gallery__image">
                      </div>
                </div>
            </div>
        </div>
    </article>
</section>