<section class="container-page">
    <section class="container-titleBanner">
        <app-title [title]="titlemessage"></app-title>
        <app-staticBanner [staticImg]="bannerImage"></app-staticBanner>
    </section>
    <article class="container-article">
        <div class="container">
            <p>AMRU has Registered Four Main Agents in all over india. 
                They are located in Mumbai, Kolkata, Chennai and Delhi respectively and each 
                agent has over 8 metallurgists specialized in testing various antic products 
                available over the world. AMRU has over 62 official coordinators across India. 
                All members of AMRU will have an identity card and ceritificate from the company, 
                which will be renewed on every two years.</p>
                <div style="margin:15px 0px;"><span class="style1">Regn. Number- <br>

                    US-AMRU/IR3597.T<br>
                    
                    IND-AMRU/RG1490.P<br>
                    
                    INT-R.317V2E/AMRU</span><br>
                    
                    <table width="100%" border="0" cellspacing="5" cellpadding="5">
                    
                      <tbody><tr>
                    
                        <td width="42%">&nbsp;</td>
                    
                        <td width="58%">&nbsp;</td>
                    
                      </tr>
                    
                      <tr>
                    
                        <td valign="top">NEVILL EDISON
                    
                    [Chairman]<br>
                    
                    SAMUEEL FRANKLIN
                    
                    [Vice-Chairman]<br>
                    
                    VICTOR IRVINC
                    
                    [Head of Research Lab]<br>
                    
                    JASRAJ RATHOD
                    
                    [Supreme Authority]<br>
                    
                    MICHAL ADANI
                    
                    [Unit Inspector]<br>
                    
                    <br>
                    
                    <br></td>
                    
                        <td valign="top"><br>
                    
                    
                    
                    <br>
                    
                    <br>
                    
                    <br>
                    
                    </td>
                    
                      </tr>
                    
                      <tr>
                    
                        <td colspan="2" valign="top">N-317A, M.S.Compound, Pollock Road<br>
                    
                          U.Park , Pennsylvania - 16802<br>
                    
                          United States of America<br>
                    
                          <br>
                    
                          
                    
                    <br>
                    
                    
                    
                    <br>
                    
                    Email: us_amru@live.com, us.atomicmetalresearchunit@gmail.com, mail@iridium.net.in </td>
                    
                        </tr>
                    
                    </tbody></table>
                    
                    <br>
                    
                    <br>
                    
                    </div>
        </div>
    </article>
</section>
