<section class="container-page">
    <section class="container-titleBanner">
        <app-title [title]="titlemessage"></app-title>
        <app-staticBanner [staticImg]="bannerImage"></app-staticBanner>
    </section>
    <article class="container-article">
        <div class="container">
            <p>AMRU established in the year of 2001 by Mr. Lyon Smith awarded four times
            for his great innovations and technological researches on bioscience
            and radioactivity on metals. After that, as chairman Mr. Nevill
            Edison takes the whole departments from 2008 and also awarded from
            Canadian University and U.S Department of Science for his great job
            to spread the science to the next door of every person which are
            included with bioscience and technology.</p>
            <p>AMRU (Atomic Metal Research Unit) is a catalyst for multidisciplinary
            innovations in materials to the atomic world.</p>
            <p>Particular significance is the recent creation of a direct interface with the
            life sciences and raw chemistry in our newest interdisciplinary
            building Penn State's MRI, the Millennium Science Complex. With our
            capabilities in electromagnetic radioactive materials and chemicals,
            functional polymers and Nanoscience, Penn State division of AMRU is
            uniquely positioned to apply our materials research to the critical
            challenges of the future in radioactivity.</p>
            <p>It
            is our vision to apply both the depth and breadth of our collective
            expertise to engage in research without boundaries, and thereby to
            create a new generation of elements which can both communicate and
            innovate in a converging technological world by the natural power
            source of cosmic energy.</p>
            <p>Specially
            AMRU is wanting to make a new generation atomic technological world
            with the rare metals like iridium, which visualize as G-Rays with
            radioactive materials. The natural power of cosmic energy when
            observed by copper, then it will be highly precious for research and
            innovated a new generation of technology to the mankind.</p>
            <p>As
            interdisciplinary Research AMRU excels in five broad areas of
            interdisciplinary materials research. In each of these impact areas,
            a strong group of faculty researchers is working across boundaries to
            solve important scientific and societal problems.</p>
            <p>AMRU
            Encompasses with 15 Departments, 200 Scientists, 100 Researchers and
            near about 800 Metallurgists with their Assistants in whole over the
            world.</p>
            <p>The
            Funding Sources Included with this Unit as National Science
            Foundation (NSF), Department Of Energy (DOE), National Institutes Of
            Health (NIH), Department Of Defense (DoD), Homeland Security and
            Banks.</p>
            <p>The
            safety efforts of this department are an integral part of our daily
            operations. In order to ensure the well-being of all those in the
            department, we will accept no less than full cooperation and
            participation in our safety practices and procedures.</p>
            <p>Some
            mysterious researches are hidden for the security reason of AMRU but
            some of the programs are included with the basic as a goal-</p>
            
            <p><font size="3"><b>Atomic,
            Molecular and Optical Sciences (AMOS) Program</b></font></p>
            
            <p>The
            Atomic, Molecular and Optical Sciences (AMOS) current projects are
            focused on studying photon and electron impact ionization and
            excitation of atoms, simple molecules and complex molecular clusters.
             The experimental and theoretical efforts are designed to break new
            ground and provide basic knowledge at the electron and the atom level
            of simple molecular transformations. The current emphasis of the
            program is in two major areas: (1) single and multiple
            photo-ionization of atoms and small molecules, and, (2) dissociative
            electron attachment to molecules and dynamics of electron driven
            processes in chemistry and physics.  A distinguishing characteristic
            of the AMOS program is that its theoretical and experimental subtasks
            are closely coupled. They are designed to work together to tackle
            problems of scale that are otherwise inaccessible without the
            day-to-day collaboration and interaction. This program is closely
            connected with the UXSL (Ultrafast X-Ray Science Laboratory). To
            bridge the gap between the development of ultra-fast X-ray and XUV
            sources and their application to problems at the frontiers of the
            chemical, materials, and biological sciences.</p>
            <p><font size="3"><b>Condensed
            Phase and Interfacial Molecular Science (CPIMS) Program</b></font></p>
            
            <p>Condensed
            Phase and Interfacial Molecular Science (CPIMS) research emphasizes
            molecular understanding of chemical, physical, and electron-driven
            processes in aqueous media and at interfaces, as these underlie
            contemporary directions in energy production and storage, and their
            environmental consequences. Studies of model condensed-phase systems
            target first-principles understandings of molecular reactivity and
            dynamical processes in solution and at interfaces, confronting the
            transition from molecular-scale chemistry to collective phenomena in
            complex systems, such as the effects of solvation on chemical
            structure and reactivity. The LBNL CPIMS program pursues basic
            research directed toward these objectives through a strong
            interaction between theory and experiment. Three current overarching
            themes that are central to the program are: (1) solvation structure
            and dynamics in bulk liquids, interfaces and nonoconfined spaces, (2)
            interfacial charge transport, and (3) interfacial reactivity.</p>
            <p><font size="3"><b>ACTINIDE
            COORDINATION AND ORGANOMETALLIC CHEMISTRY</b></font></p>
            
            <p>Since
            the invention of the atomic bomb in 1945, the energy potential of the
            actinides has impacted the world; actinides are used in power
            generation, military applications, and space exploration. These
            applications have generated many environmental and health concerns.
            The risks of environmental contamination and exposure to the
            population, caused by accidental or intentional release of actinides,
            have created a need for improved methods for the production and
            reprocessing of reactor fuel materials for increased efficiency and
            reduced waste. There is also a need for safe and effective chelating
            agents for decorporation and decontamination, as well as for
            separation technologies. However, our fundamental knowledge of the
            chemistry of the actinides is relatively limited. Understanding the
            coordination properties and solution behavior of-element complexes
            will enable us to address issues central to the priority missions of
            the U. S. Department of Energy (DOE), including the development of
            ligands for in vivo decorporation, and new technologies for
            environmental cleanup and hazardous waste reduction in contaminated
            sites.</p>
            
            <p><font size="3"><b>NUCLEAR
            CHEMISTRY</b></font></p>
            <p><b>Heavy
            Element/Nuclear Radiochemistry Program</b></p>
            
            <p>One
            of the most fundamental goals in chemistry is the study of the
            chemical properties of the elements. We use the Berkeley Gas-filled
            Separator (BGS) combined with the 88-Inch Cyclotron for synthesis,
            identification, and chemistry studies of new heavy element isotopes,
            studies that are unique within the U.S. With the combination of
            high-intensity heavy-ion beams from the 88-Inch Cyclotron and the
            high efficiency and selectivity of the BGS, the Lawrence Berkeley
            National Laboratory (LBNL) Heavy Element and Nuclear Radiochemistry
            Group will continue to make important contributions in the study of
            the production, nuclear decay properties, and chemistry of the
            heaviest elements.</p>
            <p><font size="3"><b>In
            the Year of 2014  &amp; in upcoming years researches are going on to
            the mankind for new inventions by the efforts of precious atomic
            metals.</b></font></p>
            </div>
    </article>
</section>