<ul>
    <li routerLinkActive="active current"><a routerLink="">Home</a></li>
    <li routerLinkActive="active current"><a routerLink="/intro">Intro</a></li>
    <li routerLinkActive="active current"><a routerLink="/about">About</a></li>
    <li routerLinkActive="active current"><a routerLink="/drdo">Drdo</a></li>
    <li routerLinkActive="active current"><a routerLink="/feedback">FeedBack</a></li>
    <li routerLinkActive="active current"><a routerLink="/gallery">Gallery</a></li>
    <li routerLinkActive="active current"><a routerLink="/iridium">Iridium</a></li>
    <li routerLinkActive="active current"><a routerLink="/procedure">Procedure</a></li>
    <li routerLinkActive="active current"><a routerLink="/contact">Contact</a></li>
</ul>