.pageSound {
  text-align: center;
  padding-bottom: 40px;
  max-width: 60px;
  margin-left: auto;
  margin-right: auto;
}
.soundOn,
.soundOff {
  width: auto;
  svg {
    width: 36px;
  }
}

@media all and (max-width: 767px) {
  .pageSound {
    padding-bottom: 0;
  }
}
