<section class="container-page">
    <section class="container-titleBanner">
        <app-title [title]="titlemessage"></app-title>
        <app-staticBanner [staticImg]="bannerImage"></app-staticBanner>
    </section>
    <article class="container-article">
        <div class="container">
                <form action="" method="post" enctype="multipart/form-data" name="f1" onsubmit="return validation1();">

					<table width="100%" border="0" cellspacing="0" cellpadding="0">

  <tbody><tr>

    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">

  <tbody><tr>

    <td width="374" valign="top" align="left">Name : * 

      <input name="cname" class="text_box" type="text" value="" style="width:160px; margin:6px 0 0 110px;">

	  <br>

	  Description of product : * 

      <input name="cname" class="text_box" type="text" value="" style="width:160px; margin:6px 0 0 2px;">

	  

	  <br>

	  Weight of the product : * 

      <input name="cname" class="text_box" type="text" value="" style="width:160px; margin:6px 0 0 5px;">

	  

	  <br>

	  Function of the product: *  

      <input name="cname" class="text_box" type="text" value="" style="width:160px; margin:6px 0 0 0;">

	  

	   <br>

	  Email: * 

      <input name="cname" class="text_box" type="text" value="" style="width:160px; margin:6px 0 0 116px;">

	  

	  <br>

	  Phone: * 

      <input name="cname" class="text_box" type="text" value="" style="width:160px; margin:6px 0 0 110px;">

	  

	   <br>

	  City: *

      <input name="cname" class="text_box" type="text" value="" style="width:160px; margin:6px 0 0 125px;">

	  

	   <br>

	  Message :

      <textarea name="comment" style="margin:6px 0 0 103px; width:160px; height:50px;"></textarea>

	  

	  <br>

	 

      <input name="Submit" onclick="return validateform()" type="submit" class="btn" value="Submit">

      <input name="Reset" type="reset" class="btn" value="Reset">

	  

	  </td>

    <td width="311" rowspan="9" valign="top">

 N-317A, M.S.Compound, Pollock Road<br>

U.Park , Pennsylvania - 16802<br> 

United States of America<br>

<br>



&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>



&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<br>
Mr. JASRAJ RATHOD<br>
[ Supreme Authority of INDIA ]<br>
 Contact No: 08420745591 / 08167805696 <br>
<br><br>
[ Chief Operating Officer ]<br>
 Contact No: 08910393544 <br>
<br><br>
Email: us_amru@live.com, &nbsp; us.atomicmetalresearchunit@gmail.com,&nbsp; mail@iridium.net.in</td>

    <td width="201" valign="top" align="left">&nbsp;</td>

  </tr>

</tbody></table></td>

  </tr>


</tbody></table>





</form>
        </div>
    </article>
</section>
