@import '../../../scss/mixine.scss';
.container-page {
    padding:0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.container-titleBanner {
    position: relative;
    overflow: hidden;
    margin-bottom: 70px;
}
.container-contact {
    display: flex;
    flex-wrap: wrap;

    &__map,
    &__form {
        flex: 0 0 50%;
        max-width: 50%;
    }
    &__block {
        padding: 40px;
        background-color: #333;
        color: #fff;
        height: 100vh;
        overflow-y: auto;
        background-image: url(../../../assets/images/contacttexture.png);
    }
}

.contact__map {
    overflow: hidden;
    height: 100%;
    padding-bottom: 0%;
    position: relative;
    background-color: #ff5722;
    color: #fff;
    position: relative;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}
.btn__submit {
    background-color: #039be5;
    width: 100%;
    font-family: 'antonregular', sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
    &:hover,
    &:focus {
        background-color: #45b9f1;
    }
}
.contact-title,
.feedback-title {
    font-family: 'antonregular', sans-serif;
    font-size: 80px;
    line-height: 1;
    color: #fff;
    margin: 10px 0 30px;
    position: relative;
}
.feedback-title {
  text-align: right;
}
.back_btn {
    position: absolute;
    top: 50%;
    right: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    svg {
      width: 10px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -9px;
    }
    &:hover,
    &:focus {

    }
}
.feedBack-container {
  padding: 40px;
  color: #fff;
  position: relative;
  z-index: 999;
}
.container-feedback__block {
  background-color: rgba(51, 51, 51, 0.9);
  padding: 20px;
}
// .feedbtn__submit {
//   background-color: #fff;
//   width: 100%;
//   font-family: 'antonregular', sans-serif;
//   font-size: 20px;
//   letter-spacing: 0.1em;
//   color: rgb(49, 3, 255);
//   &:hover,
//   &:focus {
//       background-color: #fff;
//   }
// }
.helper-text {
  font-size: 12px;
  color: #f00;
}
.input-field {
    margin-bottom: 32px;
    > label {
        color: #fff9f8;
        top: -30px;
        font-size: 13px;
    }
}
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    height: 48px;
    border: 2px solid #fff9f8;
    padding: 0 12px;
    box-sizing: border-box;
    color: #fff;
}
textarea.materialize-textarea {
    padding: 12px;
    height: 150px;
}
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=tel]:focus + label,
textarea.materialize-textarea:focus + label {
    color: #039be5;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus,
  .input-field input[type=email]:focus,
  .input-field input[type=tel]:focus
  textarea.materialize-textarea:focus {
    border-bottom: 1px solid #039be5;
    box-shadow: 0 1px 0 0 #039be5;
  }
  /* valid color */
  .input-field input[type=text].valid,
  .input-field input[type=email].valid,
  .input-field input[type=tel].valid,
  textarea.materialize-textarea.valid {
    border: 2px solid #43e503;
    box-shadow: 0 1px 0 0 #43e503;
  }
  /* invalid color */
  .input-field input[type=text].invalid,
  .input-field input[type=email].invalid,
  .input-field input[type=tel].invalid
  textarea.materialize-textarea.invalid {
    border: 2px solid #e50303;
    box-shadow: 0 1px 0 0 #e50303;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #039be5;
  }

  .input-field > input[type]:-webkit-autofill:not(.browser-default) + label,
  .input-field > input[type=date]:not(.browser-default) + label,
  .input-field > input[type=time]:not(.browser-default) + label {
    -webkit-transform: translateY(12px) scale(1);
    transform: translateY(12px) scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
  .address__area {
      address {
        font-style: normal;
        background-color: #1f1f1f;
        padding: 20px 40px;
        margin-bottom: 30px;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 14px;
          p {
              margin: 0 0 13px;
          }
      }
  }
.logoOnly {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 9999;
}
@media all and (min-width: 1400px) {
    .contact-title {
        // font-size: 100px;
    }
}
@media all and (max-width: 991px) {
    .contact-title,
    .feedback-title {
        font-size: 55px;
    }
}
@media all and (max-width: 767px) {
    .container-contact__map,
    .container-contact__form {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container-contact {
        display: block;
    }
    .contact__map {
        height: auto;
    }
    .container-contact__block {
        height: auto;
        overflow-y: inherit;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-page {
        overflow-y: auto;
    }
    .contact-title {
        margin-top: 0;
        position: static;
    }
    .back_btn {
        position: absolute;
        top: 74px;
        right: 15px;
        margin-top: 0;
    }
    .container-feedback__blank__particle {
      display: none;
    }
    .contact-title,
    .feedback-title {
        text-align: center;
    }
    .container-contact__block {
      position: static;
    }
    .feedBack-container {
      padding-left: 15px;
      padding-right: 15px;
    }
    .address__area address {
      padding: 20px 15px;
      margin-left: 0;
      margin-right: 0;
  }
}
@media all and (max-width: 480px) {
  .contact-title,
  .feedback-title {
      font-size: 30px;
  }
  .back_btn {
    top: 57px;
  }
}
