@import '../../../scss/mixine.scss';

.logo {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    @include rem(max-width, 96);

    a {
        display: block;
    }

    svg {
        width: 100px;
        height: auto;
    }
}