<ul class="navlists">
    <li class="navlists__item" routerLinkActive="active current">
        <a routerLink="/about"><span class="menutage-text">Title goes here</span>About</a>
    </li>
    <li class="navlists__item" routerLinkActive="active current">
        <a routerLink="/drdo"><span class="menutage-text">Title goes here</span>Drdo</a>
    </li>
    <li class="navlists__item" routerLinkActive="active current">
        <a routerLink="/gallery"><span class="menutage-text">Title goes here</span>Gallery</a>
    </li>
    <li class="navlists__item" routerLinkActive="active current">
        <a routerLink="/procedure"><span class="menutage-text">Title goes here</span>Procedure</a>
    </li>
    <li class="navlists__item" routerLinkActive="active current">
        <a routerLink="/contact"><span class="menutage-text">Title goes here</span>Contact</a>
    </li>
</ul>