.navlists {
    text-align: left;
    margin: 0;

    &__item {
        display: inline-block;
        vertical-align: top;

        a {
            display: block;
            color: #fff;
            font-size: 22px;
            padding: 10px 22px;
            font-family: 'antonregular', sans-serif;
            line-height: 1.2;
            span {
                letter-spacing: inherit;
                font-size: 11px;
                display: block;
                margin-bottom: 7px;
                text-transform: none;
                font-family: 'robotomedium', sans-serif;
                color: #d1d1d1;
            }
        }
    }
}