<header class="header">
    <app-logo></app-logo>
    <span 
        class="btn-floating btn-large waves-effect waves-light header-menu"
        (click)="toggle()"
        [class.menuButton-active]="showMenu"
    >
        <i *ngIf="!showMenu; else elseBlock" class="material-icons left">dehaze</i>
        <ng-template #elseBlock>
            <i class="material-icons left">close</i>
        </ng-template>
    </span>
</header>
<div class="navigation" *ngIf="showMenu">
    <app-navigation></app-navigation>
</div>
