@import '../../../scss/mixine.scss';

.header {
    @include overlay-block(absolute, 15px, 30px, 30px, inherit);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    position: relative;
    padding-right: 20px;
}
.menuButton-active {
    
}
