<section class="container-page">
    <article class="container-article">
        <div class="container-feedback">
            <div class="container-feedback__blank">
                <div class="container-feedback__blank__particle">
                    <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
                </div>
                <h2 class="feedback-title">{{titlemessage}}</h2>
            </div>
            <div class="container-feedback__form">
                <div class="container-feedback__block">
                    <a (click)="cancelContact()" class="back_btn">
                            <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-angle-right fa-w-8 fa-2x"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" class=""></path></svg>
                    </a>
                    <form action="/" method="post" enctype="multipart/form-data" name="f2" onsubmit="return">
                        <div class="input-field">
                            <input id="name" type="text" class="validate">
                            <label for="name">Name *</label>
                        </div>
                        <div class="input-field">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email: *</label>
                        </div>
                        <div class="input-field">
                            <textarea id="comment" name="comment" class="materialize-textarea"></textarea>
                            <label for="comment">Comment</label>
                        </div>
                        <div class="input-button">
                            <input type="button" value="Submit" class="btn btn-large btn__submit btn-block">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
</section>
