/* You can add global styles to this file, and also import other style files */
@import 'variable.scss';
@import 'font.scss';
@import 'mixine.scss';

html {
    font-size: $theme_default_size;
}
html,
body {
    height: 100%;
}

body {
    font-family: 'robotoregular', sans-serif;
    background-color: $theme_background_dark;
    @include fontSize(16px);
}